extends ../template/layout
include ../mixins/form-helper

block content

  .row
    .small-6.columns
      include resource-form
    .small-6.columns
      include sign-in-form
  .row#note-board(class = user ? '' : 'hidden')
    .small-12.columns
      include resource-show
