.row#resource-show
  .small-7.columns
    if(currentResource)
      h2= currentResource.title
    else
      h2
  .small-2.columns
    button#add-note-button.button.tiny.radius.expand +Note
  .small-3.columns
    button#edit-resource-button.button.tiny.radius Edit
    button#delete-resource-button.button.tiny.radius Delete
.row.hidden#note-form
  .small-12.columns
    include add-note-form
.row#resource-show-notes
  .small-12.columns
    if(notes)
      each note in notes
        .notes
          h5= note.title
          p= note.content



