form#resource-form.hidden(action='/', method='post')
  fieldset
    .row
      mixin field(8, 'text', 'title', 'Title')
      .small-4.columns: button#add-resource-button.radius.success.small.expand Save