.reveal-modal#add-source(data-reveal)
  form.pure-form#add-source-form(action='/', method='post')
    fieldset
      legend Add a Source

      label(for="title") Title:
      input#add-source-title(type="text")

      button.pure-button.pure-button-primary(type="submit") Save
  a.close-reveal-modal &#215;

.reveal-modal#add-note-reveal(data-reveal)
  form.pure-form.pure-form-stacked#add-note-form
    fieldset
      legend Add a New Note

      label(for="title") Title:
      input#add-note-title(type="text")

      label(for="content") Content:
      textarea(name="content")#add-note-content

      button.pure-button.pure-button-primary(type="submit") Save
  a.close-reveal-modal &#215;