header
  .pure-g-r.header
    .pure-u-1-12
    .pure-u-3-4
      h1.subheader StudyBuddy
    .pure-u-1-6
      if(user)
        h2: a#username(href='#')= user.username
      else
        a#username(href='#')