!!!5
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en">        <!--<![endif]-->
include head
body
  include header
  block content
  include scripts
</html>


//- include header
//-   .pure-g-r
//-     .pure-u-1-5
//-       include side-nav
//-   .row
//-     .small-2.columns
//-     .small-10.columns
//-       block content
//-   include scripts