.contain-to-grid
  nav.top-bar
    ul.title-area
      li.name
        h1: a(href="/") Home
      li.toggle-topbar.menu-icon
        a(href="#")
          span Menu

    section.top-bar-section
      ul.left
        if(user)
          li: a#add-resource-nav Add Resource
        else
          li: a.disabled-link#add-resource-nav Add Resource
      ul.right
        li.divider
        if(user)
          li.has-form: a#sign-in-button.button.radius.alert(href="#", data-name = 'user.name')= user.name
        else
          li.has-form: a#sign-in-button.button.radius(href="#", data-name = 'guest') Sign In