ul.side-nav
  li: a All Sources
  each resource in resources
    if(currentResource)
      if(resource.title === currentResource.title)
        li.active: a(data-id= resource.id)= resource.title
      else
        li: a(data-id= resource.id)= resource.title
    else
      li: a(data-id= resource.id)= resource.title


